# Sentry DSN para enviar errores y logs desde la app (Frontend y Backend)
VITE_SENTRY_DSN="TU_DSN_AQUI"

# Activar el envío de logs a Sentry cuando se está desarrollando en local
VITE_ENABLE_SENTRY_IN_DEV="false"

# Habilitar la apertura automática de DevTools en desarrollo
ENABLE_DEVTOOLS="false"

# Sentry Auth Token para poder subir los Source Maps durante la compilación de la app
# (Solo necesario en el entorno de desarrollo/compilación)
SENTRY_AUTH_TOKEN="TU_AUTH_TOKEN_AQUI"
SENTRY_ORG="TU_ORGANIZACION_AQUI"
SENTRY_PROJECT="TU_PROYECTO_AQUI"