.list {
  margin-top: 0;
  width: 100%;
  max-width: 700px;
}
.title {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 700;
  text-align: left;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.item {
  display: flex;
  align-items: center;
  background: #442828;
  border-radius: 12px;
  padding: 0.7rem 1.5rem;
  margin-bottom: 1.2rem;
  gap: 1.5rem;
  transition: background 0.2s;
  cursor: pointer;
  min-width: 500px;
  max-width: 700px;
  width: 100%;
}
.item:hover {
  background: #5a3535;
}
.icon {
  background: #2a1919;
  border-radius: 8px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: #fff;
}
.info {
  flex: 1;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
}
.name {
  font-weight: 500;
  font-size: 1.1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.date {
  font-size: 0.95rem;
  color: #cbbebe;
}
.download {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.4rem;
  cursor: pointer;
  padding: 0 0.5rem;
  border-radius: 50%;
  transition: background 0.2s;
  margin-left: 1.5rem;
}
.download:hover {
  background: #2a1919;
} 