.appContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: var(--color-bg-primary);
  overflow: hidden;
}

.mainContent {
  flex: 1;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.mainContentWithSidebar {
  padding-left: 260px; /* Ancho del sidebar */
}
